*
{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.point .label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    left: -50px;
    border-radius: 50%;
    background: #00ffff;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 100px;
    font-weight: 100;
    font-size: large;
    transform: scale(0,0);
    transition: transform 0.3s;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.point.visible .label {
    transform: scale(1,1);
}

.point:hover .label{
    opacity: 0.8;
}

.point .text {
    display: none;
}

.appear {
    position: absolute;
    background-color: #00ffff;
    color: white;
    opacity: 0.5;
    transform: opacity 0.3s;
    padding: 1%;
    border-radius: 20%;
}

#backButton:hover {
    opacity: 0.8;
}

#backButton {
    left: 2%;
    top: 2%;
    cursor: pointer;
}

#content {
    left: 2%;
    right: 2%;
    bottom: 2%;
    height: 20%;
    overflow: scroll;
    opacity: 0.9;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    padding: 4%;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 3px;
    opacity: 0.4;
}